rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /notes/{user}/folders/{folder=**} {
      allow read, write: if request.auth.uid == user;
    }
    match /notes/{user}/notes/{note=**} {
      allow read, write: if request.auth.uid == user;
    }
  }
}